/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2017, 9:43:22 AM
    Author     : PhamHieu
*/

body{
    margin: 0 auto;
    width: 1349px;
}
/* 
    Created on : Sep 11, 2017, 2:43:22 PM
    Author     : Nguy?n Minh Quang
*/
/* ph?n t?o n�t cu?i trang tr? v? d?u trang*/
#backtotop { 
    bottom: 7px; 
    display: none; 
    margin: 0 20px 20px 0; 
    position: fixed; 
    right: 0; 
    z-index: 2; 
} 
#backtotop a { 
    background: url("http://i.imgur.com/zODWZlw.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0.5); 
    border: 0 none; 
    display: block; 
    height: 35px; 
    text-decoration: none; 
    transition: all 0.1s ease-in-out 0s; 
    width: 35px; 
    border-radius: 50%;
} 
#backtotop a:hover { 
    -webkit-box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5); 
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5); 
    background-color: red; 
}   

/*Trang liên hệ*/
#phananh{
    width: 1062px;  
}
nav.woocommerce-breadcrumb {
    margin-top: 6px;
}
img.alignnone.size-medium.wp-image-114 {
    margin-top: -200px;
}
h1 {
    margin-left: 101px;
    margin-top: -154px;
    font-family: Roboto Condensed;
}
#phananh{
    margin-bottom: 208px;
}
#anhlienhe h1{
    margin-left: 100px;
    margin-top: -75px;
    font-size: 50px;
    font-family: Roboto Condensed;
}
input#pirate-forms-contact-name {
    float: right;
    margin-top: -268px;
    margin-right: 148px;
    width: 250px;
    height: 35px;
    border:1px solid #0796a5;
    background-color: white;
    border-radius: 4px;
}
input#pirate-forms-contact-email {
    float: right;
    margin-top: -220px;
    margin-right: 148px;
    width: 250px;
    height: 35px;
    border:1px solid #0796a5;
    background-color: white;
    border-radius: 4px;
}
input#pirate-forms-contact-subject {
    float: right;
    margin-top: -174px;
    margin-right: 148px;
    width: 250px;
    height: 35px;
    border:1px solid #0796a5;
    background-color: white;
    border-radius: 4px;
}
textarea#pirate-forms-contact-message {
    margin-left: 108px;
    margin-top: -118px;
    width: 406px;
    border:1px solid #0796a5;
    background-color: white;
    border-radius: 4px;
}
button#pirate-forms-contact-submit {
    margin-right: 238px;
    margin-top: -15px;
    border-radius: 4px;
    background-color: gainsboro;
}
button#pirate-forms-contact-submit {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    margin-right: 263px;
    border-radius: 4px;
}
#tieude_lienlac{
    color: red;
}
h3 {
    margin-top: -49px;
    font-size: 24px;
    margin-top: 6px;
    font-weight: 500;
    line-height: 1.1;
}
div#thongtinlienhe {
    margin-bottom: 24px;
}
lable {
    color: black;
    font-weight: 700;
}
h2 {
    color: black;
}
div#primary {
    margin-bottom: -67px;
}
.col-sm-12 col-lg-12{width: 1040px;
                     height: 40px;
                     background-color: grey;
}
/*phan footer*/

.site-footer{
    background-color: #ece1e1;
    width: 1066px;
    height: 120px;
    margin-left: 140px;
}
div#footerL {
    width: 700px;
    float: left;
}
#footer_social img{
    float: right;
}
h4{
    margin-bottom: -18px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: -16px;
}
/*trang gioi thieu*/
h1.entry-title {
    margin-top: 0px;
}
#gioithieu h1{
    font-size: 24px;
    text-align: center;
    color: red;
    padding-bottom: 30px;
    margin-top: 35px;
}
#gioithieu {
    border: 3px solid #f1b3b3;
    border-radius: 18px;
    margin-top: 10px;
}
div#gioithieu {
    margin-top: -192px;
}
div#gioithieu p {
    margin-left: 14px;
    text-align: justify;
    padding: 15px;
    text-indent: 28px;
}
.woocommerce-breadcrumb,.entry-title{
    opacity: 0;
}

/*phan menu*/
ul#menu-primary-menu {
    width: 100% !important;
    margin-top: -4px !important;

}
/*phần tin tức*/
aside.entry-meta, span.posted-on {
    opacity: 0;
}
span.gamma.widget-title {
    border: 1px solid gray;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 0px;
    border-bottom: 8px solid #FF9900;
    border-radius: 5px;
    background-color: #D6D6D6;
}
.textwidget {
    border: 1px dashed #ccc;
}
ul {
    border: 1px dashed #ccc;
}
entry-content {
    border-bottom: 2px solid #ccc;
}





.list_img_products.imager-thumbail {
    border: 1px solid #25e0d5;
    padding: 29px 0 0 16px;
    height: 381px;
    overflow: overlay;
}
.list_img_products.imager-thumbail img {
    margin-bottom: 10px;
}


/*phan post*/

.category-tin-tuc h1{
    margin-top: -100px;
    padding-top: 50px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.category-tin-tuc h1:hover{
    color: blue;
    text-decoration: none;
}
.category-tin-tuc{
    border-bottom: 2px solid #ccc;
    padding-bottom: 22px;
    margin-top: 38px;
    text-align: justify;
}
#informationPost{
    text-align: center;
    margin-left: 300px;
}
.category-tin-tuc a{
    color: black;
}

#pageNews{
    width: 100%;
}
#contentSidebar{
    width: 25%;
    float: left;
}
#ContentNews {
    width: 70%;
    float: left;
}
#ContentNews a:hover{
    color: #337ab7;
    text-decoration: underline;
}

input#post {
    float: right;
}
nav.woocommerce-breadcrumb {
    margin-top: -92px;
}
h1.entry-title {
    margin-top: 96px;
}


#loading img{
    margin:auto;
    padding-left: 10px;
}
/*phan id post*/
section#comments {
    opacity: 0;
}
aside.entry-meta {
    opacity: 0;
}
.entry-content {
    margin-top: -227px;
}
img.alignnone.size-medium.wp-image-114 {
    margin-top: 10px;
}
div#gioithieu {
    margin-top: 36px;
}
div#title_post_Q {
    text-align: center;
    font-size: 24px;
    color: black;
}
span.posted-on {
    opacity: 0;
}
div#ContentPost_Q {
    margin-left: -160px;
    text-align: justify;
}
.nav-previous {
    margin-left: 120px;
}
.nav-next {
    margin-top: -36px;
}
a.more-link {
    padding-left: 400px;
}

input#post {
    text-align: justify;
}
