/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2017, 9:43:22 AM
    Author     : PhamHieu
*/

body{
    margin: 0 auto;
    width: 1349px;
}
/* 
    Created on : Sep 11, 2017, 2:43:22 PM
    Author     : Nguyễn Minh Quang
*/
img {
    float: right;
    margin-top: -45px;
}
/* phần tạo nút cuối trang trở về đầu trang*/
#backtotop { 
        bottom: 7px; 
        display: none; 
        margin: 0 20px 20px 0; 
        position: fixed; 
        right: 0; 
        z-index: 2; 
} 
#backtotop a { 
        background: url("http://i.imgur.com/zODWZlw.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0.5); 
        border: 0 none; 
        display: block; 
        height: 30px; 
        text-decoration: none; 
        transition: all 0.1s ease-in-out 0s; 
        width: 30px; 
} 
#backtotop a:hover { 
        -webkit-box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5); 
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5); 
        background-color: red; 
        
        
}    